* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Avenir', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #f9f9f9;
  background-color: slateblue;
  width: 100vw;
  height: 100vh;
}

button {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
  padding: 0;
}

h2 {
  margin-left: 20px;
  margin-bottom: 10px;
}

.header {
  display: grid;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  justify-content: flex-start;
  max-height: 70px;
  height: 70px;
}

#app {
  display: grid;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  position: relative;
  overflow: hidden;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  align-content: flex-start;
}

#planet-output {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-row-gap: 15px;
  padding: 0px 20px 10px 20px;
  height: 100%;
}

#planet-output > div {
  font-size: 18px;
  line-height: 28px;
}

#planet-output-sm {
  position: relative;
  margin-top: 10px;
}

#planet-output-sm > div {
  margin-bottom: 10px;
}

svg#responsive-svg {
  width: 100%;
  height: 100%;
  max-height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

#menu {
  display: none;
}

#menu-icon {
  margin-top: 10px;
}

#sidenav {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 200px;
  left: -200px;
  z-index: 10;
  background-color: #222;
  padding: 10px;
  font-size: 16px;
  line-height: 26px;
}

#close-btn {
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
  font-size: 30px;
  z-index: 11;
}

#close-btn::before {
  content: "\00d7";
}

.line {
  fill: none;
  stroke: #f9f9f9;
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.line.top,
.line.bottom {
  stroke-dasharray: 50px 600px;
  stroke-dashoffset: 0px;
}

.line.cross {
  stroke-dasharray: 50px 60px;
  stroke-dashoffset: 0px;
}

@media screen and (max-width: 1100px) {
  #planet-output > div {
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (max-width: 900px) {
  #menu {
    display: inline-block;
    cursor: pointer;
  }

  h2 {
    margin-left: 5px;
  }
}
