<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <title>Astro Clock</title>
  </head>
  <body>
    <div id="app">
      <div id="content">
        <h2>Astro Clock</h2>
        <div id="planet-output"></div>
        <canvas style="border: 1px solid #f9f9f9" id="canvas" width="800" height="700"></canvas>
      </div>
    </div>
    <script type="module" src="../static/canvas.js"></script>
    <script type="module" src="../static/main.js"></script>
  </body>
</html>
